In [52]:
import pandas as pd 
import numpy as np 
from selenium import webdriver
import selenium 
import csv
import time
from bs4 import BeautifulSoup
import requests

In [53]:
df = pd.read_csv("vgchartz-2024.csv")

In [54]:
df.isnull().sum()

img                 0
title               0
console             0
genre               0
publisher           0
developer          17
critic_score    57338
total_sales     45094
na_sales        51379
jp_sales        57290
pal_sales       51192
other_sales     48888
release_date     7051
last_update     46137
dtype: int64

In [55]:
df.rename(columns={
    'console': 'Platform',
    'title': 'Name',
    'pal_sales': 'EU_Sales'
}, inplace=True)

In [56]:
df['developer'].fillna('Unknown', inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_42304\2622078986.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['developer'].fillna('Unknown', inplace=True)

In [57]:
df['genre'] = df['genre'].str.title().str.strip()
df['Platform'] = df['Platform'].str.upper().str.strip()

# Convert sales columns to float
sales_cols = ['na_sales', 'jp_sales', 'EU_Sales', 'other_sales', 'total_sales']
df[sales_cols] = df[sales_cols].astype(float)

In [58]:
df['img'] = 'https://www.vgchartz.com' + df['img']

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64016 entries, 0 to 64015
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   img           64016 non-null  object
 1   Name          64016 non-null  object
 2   Platform      64016 non-null  object
 3   genre         64016 non-null  object
 4   publisher     64016 non-null  object
 5   developer     64016 non-null  object
 6   critic_score  6678 non-null   float64
 7   total_sales   18922 non-null  float64
 8   na_sales      12637 non-null  float64
 9   jp_sales      6726 non-null   float64
 10  EU_Sales      12824 non-null  float64
 11  other_sales   15128 non-null  float64
 12  release_date  56965 non-null  object
 13  last_update   17879 non-null  object
dtypes: float64(6), object(8)
memory usage: 6.8+ MB

In [60]:
df.to_csv('cleaned_game_sales.csv', index=False)
print("✅ Region and genre data cleaned and normalized.")

✅ Region and genre data cleaned and normalized.

In [61]:
import pandas as pd
from sqlalchemy import create_engine
import datetime

# Start time
start_time = datetime.datetime.now()
print('Begin:', start_time)

# Correct MySQL connection string
engine = create_engine('mysql+pymysql://root:Sharma%40123@localhost:3306/amazon_products')

df = pd.read_csv("cleaned_game_sales.csv")  

# Try inserting data into MySQL
try:
    df.to_sql(name='game_dataset', con=engine, index=False, if_exists='replace')
    print("Successfully imported")
except Exception as e:
    print(f"Failed to import. Error: {e}")

# End time
end_time = datetime.datetime.now()
print('End:', end_time)

# Total execution time
total_time = end_time - start_time
print('Total time:', total_time)

Begin: 2025-04-16 12:11:01.077738
Successfully imported
End: 2025-04-16 12:11:11.020326
Total time: 0:00:09.942588